{% extends "bootstrap/base.html" %}
{% block title %}So LGP{% endblock %}

{% block navbar %}
	<!-- Menu -->
	<div class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<a href="#" class="navbar-brand"> Home</a>
			<button class="navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>	<div class="container">

			<div class="collapse navbar-collapse navHeaderCollapse">
			</div>
			</div>
		</div>
	</div>
	<!--End Menu -->
{% endblock %}

{%  block content  %}
	<div class="container">
		<div class="col-md-6 col-md-offset-3">
			<div class="jumbotron">
				<h1>Login</h1>
				<hr />
				<div class="row">
					<form class="form-signin" action='/' method='POST'>

						{% if session['alert-warning-login'] == 'SIM' %}
							<div class="alert alert-warning">
									<strong>Aviso!</strong>Não foi possível encontrar sua Conta.
							</div>
					  	{% endif %}


						<label for="inputEmail" class="sr-only">Email address</label>
						<input type='text' name='email' id='email' placeholder='email' class="form-control"></input>
					</br>
					<label for="inputPassword" class="sr-only">Password</label>
					<input type='password' name='pw' id='pw' placeholder='password' 	class="form-control"></input>
					</br>
					<input class="btn btn-lg btn-primary btn-block"type='submit' name='submit'></input>
				</form>
			</div>
			</div>
		</div>
	</div>
{% endblock  %}
