{% extends "bootstrap/base.html" %}
{% block title %}So LGP{% endblock %}

{% block navbar %}
  <div class="navbar navbar-inverse navbar-static-top">
     <div class="container">
        <a href="#" class="navbar-brand"> Home</a>
        <button class="navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse navHeaderCollapse">
           <ul class="nav navbar-nav navbar-right">
              <li ><a href="{{ url_for('index')}}"> Home</a></li>
              {% if session['root'] == 'NAO' %}
              <li ><a href="{{ url_for('cadastrar')}}"> Formulario</a></li>
              <li ><a href="{{ url_for('lista')}}"> Solicitações</a></li>
              {% endif %}
              {% if session['root'] == 'SIM' %}
              <li ><a href="{{ url_for('root')}}"> Administração</a></li>
              {% endif %}
              <ul class="nav navbar-nav navbar-right">
                 <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user"></span>&nbsp;
                    {{session['login']}}
                    <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                       <li><a href="#">Perfil</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a href="{{ url_for('logout')}}">Sair</a></li>
                    </ul>
                 </li>
              </ul>
           </ul>
        </div>
     </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
     <h2>Solicitações</h2>
     <div class="table-responsive">
         <table class="table">
            <thead>
               <tr>
                  <th>Identificação</th>
                  <th>Matricula</th>
                  <th>Nome</th>
                  <th>Inten Solicitado</th>
                  <th>Estado da Solicitação</th>
                  <th>Cancelar Requerimento</th>
               </tr>
            </thead>
            {% for pessoa in pessoas %}
                  {% if  pessoa.estado =="DEFERIDO" %}
                     <tr class="success">
                  {% elif pessoa.estado =="INDEFERIDO" %}
                     <tr class="danger">
                  {% elif pessoa.estado =="CANCELADO PELO USUARIO" %}
                     <tr class="warning">
                  {% else %}
                     <tr class="active">
                  {% endif %}
                     <td>{{ pessoa._id}} </td>
                     <td>{{ pessoa.matricula}} </td>
                     <td>{{ pessoa.nome}} </td>
                     <td>{{ pessoa.iten}}</td>
                     <td>{{ pessoa.estado}}</td>
                     {% if pessoa.estado == 'EM ANDAMENTO' %}
                        <td><a href='/cancelar/{{pessoa._id}}' class="btn btn-info active" type="button"> Cancelar Requerimento</a></td>
                     {% endif %}
                     <td COLSPAN = '2'></td>
                  </tr>
            {% endfor %}
         </table>
      </div>
</div>
{% endblock %}
